body { text-align: center;
    background-image: url("pikachy.jpg"); /* The image used */
    background-color: black; /* Used if the image is unavailable */
    height: 100px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.searchBtn {
    background-color: #CDB4DB;
    margin: 10px;
    border-width: 2px;
    border-color: #6D4186;
    color: #6D4186}

.container {
    margin: auto;
}

.poke-container {
    margin: auto;
    width: 90px;
    padding: 10px;
}

.header-container {
    border-radius: 0px !important;
}

.header-text{
    margin: 0 auto;
}
.generate-pokemon {
    margin: 0 auto;
}

.searchBtn {
    background-color: #CDB4DB;
    margin: 10px;
    border-width: 2px;
    border-color: #6D4186;
    color: #6D4186;
}
.pics { 
    position: absolute;
    right: 400px;
    bottom: 120px;

}